[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/delimitmate"]
	path = .vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/javacomplete"]
	path = .vim/bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule ".vim/bundle/vim-wombat"]
	path = .vim/bundle/vim-wombat
	url = https://github.com/cschlueter/vim-wombat.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/JavaImp"]
	path = .vim/bundle/JavaImp
	url = https://github.com/vim-scripts/JavaImp.vim--Lee.git
[submodule ".vim/bundle/AutoTag"]
	path = .vim/bundle/AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
