[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/delimitmate"]
	path = .vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/javacomplete"]
	path = .vim/bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule ".vim/bundle/vim-wombat"]
	path = .vim/bundle/vim-wombat
	url = https://github.com/cschlueter/vim-wombat.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
#[submodule ".vim/bundle/JavaImp"]
#	path = .vim/bundle/JavaImp
#	url = https://github.com/vim-scripts/JavaImp.vim--Lee.git
[submodule ".vim/bundle/AutoTag"]
	path = .vim/bundle/AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
#[submodule ".vim/bundle/vim-ios"]
#	path = .vim/bundle/vim-ios
#	url = https://github.com/eraserhd/vim-ios.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/cocoa-vim"]
	path = .vim/bundle/cocoa-vim
	url = https://github.com/vim-scripts/cocoa.vim.git
[submodule ".vim/bundle/ack-vim"]
	path = .vim/bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdtree-ack"]
	path = .vim/bundle/nerdtree-ack
	url = https://github.com/tyok/nerdtree-ack.git
[submodule ".vim/bundle/ag-vim"]
	path = .vim/bundle/ag-vim
	url = https://github.com/rking/ag.vim.git
